@media (max-width: 767px) {
  .about-wrapper.style1 .about-thumb .main-thumb img {
    max-width: 100%;
  }
  .feature-card {
    border-radius: 5px;
    height: auto;
    width: auto;
  }
}
@media (max-width: 1199px) {
  .about-wrapper.style1 .about-thumb .absolute-thumb {
    bottom: 59px;
    left: 236px;
  }
}

@media (max-width: 991px) {
  .about-wrapper.style1 .about-thumb .absolute-thumb {
    bottom: 0;
    left: 0;
  }
}
